html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: white;
  min-height: 100%;
}

.title-large {
  font-size: 2.2em;
  font-family: 'IM Fell English';
  color: white;
  background-color: #474350;
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
}

.title-medium{
  font-size: 1.5em;
  font-family: 'IM Fell English';
  color: black;
  margin: auto;
  text-align: center;
}

.main-header {
  display: flex;
  justify-content: center;
  background-color: #474350;
  padding: 10px;
  margin-bottom: 10px;
}

#second-cane {
  transform: scaleX(-1);
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.week {
  border: 2px solid #e4c5af;
  border-radius: 9px;
  background-color: white;
  text-align: center;
  width: 150px;
  height: 150px;
  line-height: 70px;
  margin-bottom: 10px;
}

.btn {
  background-color: #43B692;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}
