figure {
  width: 1fr;
  background-color: white;
  box-shadow: 7px 7px 7px #4d4d4e;
  padding: 10px 10px 0px;
  border: 2px solid black;
  margin: 0 3em;
  text-align: center;
}

figcaption {
  font-family: 'IM Fell English';
  font-size: 1em;
  text-align: justify;
  padding: 0px 5px;
  margin: 0;
}

#ball {
  width: 30px;
}

p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  background-color: darkgrey;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

.title-large {
  font-size: 2.2em;
  font-family: 'IM Fell English';
  color: white;
  background-color: #474350;
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
}

.title-medium{
  font-size: 1.5em;
  font-family: 'IM Fell English';
  color: black;
  margin: auto;
  text-align: center;
}

.main-header {
  display: flex;
  justify-content: center;
  background-color: #474350;
  padding: 10px;
}

#second-cane {
  transform: scaleX(-1);
}

.grid-container {
  position: absolute;
  width: 100%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}


.fa-heart {
  margin-bottom: 15px;
}


.btn {
  background-color: #43B692;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #474350;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  line-height: 60px
}

footer.a {
  background-color: #099773;
}
